<div>
    {{!-- > symbol is how you know its a partial --}}
    {{!-- {{> celebPartial}} --}}
    {{> celebPartial}}
    <a href="/celebs/{{celeb._id}}/edit">edit</a>
</div>


<a href="/celeb">go back</a>