<h1>Movie List</h1>


{{!-- This page is pretty much empty and gets populated with api list. This happens in script.js and gets called here 
through class/id --}}
<button class="movie-button">Get the movies</button>

<div class="movie-list"></div>
<br><br>



<a href="/movies/create"> add a new movie</a>

