<h1>{{title}}</h1>
<p>Movies & Celebs{{title}}</p>

<a href="celebs">celeb</a>
{{!-- <a href="">celeb details</a>
<a href="#">add new celeb</a>
<a href="#">remove ceelb</a> --}}
<a href="movies">movies</a>
{{!-- <a href="create">add movie</a> --}}